#education{
}

.section-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #432e30;
}

#education ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 4px;
}

#education ul li{
    margin: 0 5px;
    padding: 0 8px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

#education .mba {
    font-weight: 700;
    border-bottom: 1px solid #432e30;
    padding-bottom: 6px;
}

#education .bs{
    font-weight: 700;
    border-bottom: 1px solid #432e30;
    padding-bottom: 6px;
}

.edu-info{
    background-color: #f8f8fa;
    padding: 15px 30px;
    border: 1px solid #f0e8e8;
    border-radius: 3px;
    border: 1px solid #f0e8e8;
}

.edu-info span{
    display: block;
    color: #8e7474;
    font-size: 13px;
    font-family: monospace;
}