.nav-item {
    padding: 15px;
}

.nav-link{
    color: #432e30 !important;
    padding: 0 !important;
}

.nav-link span{
    padding-right: 5px !important;
}

.nav-link .svg-inline--fa:hover{
    color: #98C24D;
}