.nav-item {
    padding: 15px !important;
}

.nav-link{
    color: #000000 !important;
    padding: 0 !important;
}

.nav-link span{
    padding-right: 8px !important;
}

.nav-link .svg-inline--fa:hover{
    color: #98C24D;
}