#work{
    background-color: aqua;
    min-height: 285px;
    padding: 2rem 1rem 1rem;
    box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
    border-radius: 5px !important;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

#work .button-group{
    display: flex;
    justify-content: space-between;
}

.button-group button{
    position: relative;
    padding: 5px 30px;
    border: 2px solid white;
    font-weight: bold;
    color: white;
    background-color: inherit;
    outline: none;
    transition: all .35s;
}

.button-group .or{
    display: none;
}

.button-group button span{
    position: relative;
    z-index: 2;
}

.button-group button:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: orange;
    transition: all .35s linear;
}

.button-group button:hover{
    color: #000;
}

.button-group button:hover:before{
    width: 100%;
}

#work p{
    margin-bottom: 0 !important;
}

#work .info span span, .position, .date{
    color: #a5c261;
}

#work > .info > span{
    display:block;
    font-size: 13px;
}

#work > .info{
    background-color: #232323;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}