
@media only screen and (max-width: 600px) {
  #work{
    padding: 0;
    margin: 0 !important;
  }
  li.nav-item .nav-link span{
    padding-right: 4px ;
    font-size: 12px;
  }

  .nav-link .svg-inline--fa{
    font-size: 12px;
  }

  li.nav-item {
      padding: 0 !important;
      margin: 0 !important;
  }
  #work .button-group{
    justify-content: center !important;
    position: relative;
  }

  #work .button-group button{
    border: 1px solid #ddd;
    background-color: white;
    color: #444;
    font-size: 12px;
    letter-spacing:1px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #work .button-group .resume{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
  }
  #work .button-group .letter{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  .button-group button:before{
    height: 0!important;
}

  .button-group button:hover{
    background-color: orange !important;
  }

  .button-group .or{
    display: block !important;
  }
  #education ul{
    justify-content: flex-start !important;
    padding-left: 0;
  }
  #education li{
    margin-left: 0!important;
  }
}

@media only screen and(max-width: 767px){
  
}