.spacer{
  top: 0;
  position: absolute;
  height: 100%;
  width: 30px;
  z-index: 1;
}
.spacer-bottom{
  top: 0;
  right: 0;
}


@media only screen and (max-width: 576px) {
  .navbar{
    padding: 0 15px 0 0  !important;
    margin-top: 7px;
  }
  li.nav-item .nav-link span{
    padding-right: 4px ;
    /* font-size: 12px; */
  }

  .nav-link .svg-inline--fa{
    /* font-size: 12px; */
  }

  li.nav-item {
      /* padding: 0 !important;
      margin: 0 !important; */
  }

  #work{
    margin-left:2.5rem !important;
    margin-right:2.5rem !important;
    margin-top: -180px !important;
  }


  #work .button-group{
    justify-content: center !important;
    position: relative;
  }

  #work .button-group button{
    border: 1px solid #ddd;
    background-color: white;
    color: #444;
    font-size: 11.2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 22px;
    padding-left: 22px;
    font-family: Helvetica, Arial, sans-serif;
  }

  #work .button-group .resume{
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-right: none;
  }
  #work .button-group .letter{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }

  .button-group button:before{
    height: 0!important;
}

  .button-group button:hover{
    background-color: orange !important;
  }

  .button-group .or{
    display: block !important;
  }
  #education{
    margin: 0 2.5rem !important;
  }
  #education ul{
    justify-content: flex-start !important;
    padding-left: 0;
  }
  #education li{
    margin-left: 0!important;
  }
  #skills{
    padding: 0 2.5rem !important;
  }
}

@media only screen and (max-width: 371px){
  .navbar{
    padding: 0 10px 0 0  !important;
  }
  .nav-item {
    padding-right: 5px !important ;
}
}
@media only screen and (max-width: 311px){
  .nav-item {
    padding: 15px 6px !important ;
}
}